@import "../../../../assets/sass/style";

form {
  display: flex;
  align-items: center;
  background: rgba(255,87,34 ,1);
  padding: 0 10px;
}

input[type="text"] {
  @include input-placeholder {color: floralwhite};
  @include font-source($font-family: Quicksand, $size: 25px, $color: white);
  border: 1px solid transparent;
  background: transparent;
  transition: 0.4s ease;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  text-align: left;
  //@media screen and (max-width: $break-desk) { font-size: 22px; }
  //@media screen and (min-width: $break-desk) { font-size: 25px; }
  //@media screen and (min-width: $break-large-desk) { font-size: 30px; }
}
input[type="text"] { text-transform: capitalize;}

input[type="text"]:focus {
  outline: none;
  height: 50px;
  transition: 0.4s ease;
}

label {
  //@include font-source($size: 25px, $color: $mint);
  //@media screen and (max-width: $break-desk) { font-size: 22px; }
  //@media screen and (min-width: $break-desk) { font-size: 25px; }
  //@media screen and (min-width: $break-large-desk) { font-size: 30px; }
}

i {
  //color: white;
  //font-size: 25px;
  @include font-source($size: 25px, $color: white);
}

button {
  background: transparent;
  border: 1px solid transparent;
  width: auto;
  height: 100%;
}

button:focus {
  outline: none;
}

button i:hover {
  transition: 0.4s ease;
  @include font-source($size: 30px, $color: black);
}
//***********************************************************
