<div>
  <form novalidate
        [formGroup]="forecasts"
        (ngSubmit)="showCurrentForecasts()">
    <i class="fas fa-search"></i>
    <input type="text"
           formControlName="city"
           placeholder="Milan"
           #city
          autofocus>
    <!--<input type="text"
            formControlName="countryCode"
            placeholder="IT"
            #countryCode>-->
    <button type="submit"
            [disabled]="forecasts.invalid">
      <i class="fas fa-arrow-right"></i>
    </button>
  </form>
  <!--ERRORS-->
  <!-- Input touched not dirty-->
  <div
    class="error"
    [@errors]
    *ngIf="forecasts.get('city').hasError('required') && forecasts.get('city').touched">
    City is required
  </div>
  <!-- City inserted not a string-->
  <div
    class="error"
    [@errors]
    *ngIf="forecasts.get('city').hasError('pattern')">
    Insert only alphabetic characters
  </div>
</div>
