@import '../../../../assets/sass/style.scss';

.info-container {
  max-width: 20%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  @include font-source($font-family: Quicksand, $size: 25px, $color: white);

  & > div {
    padding-bottom: 10px;
  }
}
p {
  width: 100px;
  background-color: gold;
}
.hour {}

.icon {}
.min-t {}
.max-t {}
