.main-container {
  //background-image: url("../assets/images/s.jpg");
  background-color: deepskyblue;
  background-position: left;
  background-size: cover;
  transition: 1s linear;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "."
    "forecasts-container"
    ".";
  grid-template-rows: 1fr auto 1fr;
}

app-forecasts-container {
  grid-area: forecasts-container;
}
