@import url('https://fonts.googleapis.com/css?family=Quicksand');

@mixin font-source($font-family : false, $size: false, $color: false, $weight: false, $lh: false) {
  @if $font-family {font-family: $font-family};
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
