@import "mixins", "variables", "reset";

.error {
  @include font-source($font-family: Quicksand, $size: 18px, $color: red);
  border-bottom: 2px solid red;
  font-weight: bolder;
  color: orangered;
  text-align: center;
  padding: 5px;
  background-color: rgba(0,0,0,0.7);
}
